<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CsvPathAirports" value="C:\\Repository\\AlaskaAir\\DataAccess\\DataSource\\csv\\airports.csv" />
    <add key="CsvPathAirportsHasHeader" value="true" />
    <add key="CsvPathFlights" value="C:\\Repository\\AlaskaAir\\DataAccess\\DataSource\\csv\\flights.csv" />
    <add key="CsvPathFlightsHasHeader" value="true" />
    </appSettings>
</configuration>